.App {
  text-align: center;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.intro-text {
  color: #282c34;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  padding: 20px;
  text-align: left;
}

.card {
  margin: 8px;
  max-width: 640px;
  border-radius: 4px;
  background: white;
  box-shadow: 1px 1px 9px #bbbbbb;
  
}

.about-me {
  align-items: center;
  display: flex;
  padding: 16px;
}

.profile-img {
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .about-me {
    align-items: center;
    flex-direction: column;
  }

  .profile-img {
    height: 96px;
  }

  .intro-text {
    padding: 0;
  }

  .contact-me{
    display: flex;
  }
}





@media (prefers-color-scheme: dark) {
  .App {
    background-color: #282c34;
  }

  .intro-text {
    color: #fdfdfd;
  }

  .card {
    background: #1c1f25;
    box-shadow: 1px 1px 9px black;
  }

  a:visited {
   color: white;
  }
}
